<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Calculator Application</title>
    <base href="/" />
  </head>
  <body>
    <h1>Simple Calculator Application</h1>
    <div id="root"></div>
  </body>
</html>